<div class="login-root d-flex justify-content-center align-items-center vh-100">
  <div class="login-card card p-4 shadow-lg">
    <h4 class="text-center mb-3">
      <i class="bi bi-box-arrow-in-right me-2"></i> Bejelentkezés
    </h4>

    <form (ngSubmit)="onLogin()" autocomplete="off">
      <div class="mb-3 input-group">
        <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          required
          [(ngModel)]="email"
          name="email"
        />
      </div>

      <div class="mb-3 input-group">
        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
        <input
          type="password"
          class="form-control"
          placeholder="Jelszó"
          required
          [(ngModel)]="password"
          name="password"
        />
      </div>

      <button class="btn btn-primary w-100 mb-2" type="submit" [disabled]="loading">
        <i class="bi bi-box-arrow-in-right me-2"></i> Belépés
      </button>

    </form>

    <p class="text-center mt-3">
      Nincs fiókod? 
      <a (click)="goToRegister()" class="link-primary">Regisztráció</a>
    </p>

    <div *ngIf="error" class="alert alert-danger mt-2 mb-0 text-center">
      {{ error }}
    </div>
  </div>
</div>
