<div class="login-wrapper">
  <!-- Bal oldal -->
  <div class="login-left">
    <div class="login-content">
      <h2>Login</h2>
      <form (ngSubmit)="onLogin()" autocomplete="off">
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-envelope-fill"></i>
          </span>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            required
            [(ngModel)]="email"
            name="email"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-lock-fill"></i>
          </span>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            required
            [(ngModel)]="password"
            name="password"
          />
        </div>

        <button class="btn btn-primary w-100 mb-2" type="submit" [disabled]="loading">
          Login
        </button>

        <p class="text-center mt-3">
          New to EduShare?  <a (click)="goToRegister()" class="register-link"> Register</a>
        </p>
      </form>
    </div>
  </div>

  <!-- Jobb oldal -->
  <div class="login-right">
    <img src="/images/Login.jpg" alt="Login illustration" />
  </div>
</div>
