<div class="container-fluid footer">
    <footer class="d-flex flex-column flex-md-row flex-wrap justify-content-center justify-content-md-between align-items-center text-center text-md-start py-3 mt-4 mb-1 border-top">

        <div class="col-md-4 d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start mb-3 mb-md-0">
            <span class="logo fs-3 me-0 me-md-2" routerLink="/homepage" style="cursor: pointer;">EduShare</span>
            <span class="small text-muted">© 2025 Company, Inc</span>
        </div>

        <ul class="list-unstyled d-flex justify-content-center justify-content-md-end align-items-center gap-2 mb-0">
            <li><strong>FB</strong></li>
            <li class="separator">•</li>
            <li><strong>NZS</strong></li>
            <li class="separator">•</li>
            <li><strong>HB</strong></li>
            <li class="separator">•</li>
            <li><strong>BA</strong></li>
            <li class="separator">•</li>
            <li><strong>TL</strong></li>
            <li class="separator">•</li>
            <li><strong>KM</strong></li>
            <li class="separator">•</li>
            <li><strong>ZA</strong></li>
        </ul>

    </footer>
</div>