@use '../../../styles/_variables' as *
.logo
  font-family: 'Erica One', sans-serif
  color: $edu-purple
  text-decoration: none

.footer
  padding-left: 10%
  padding-right: 10%

strong
    font-family: 'Nunito'
    color: $edu-purple

.small
  font-size: 0.7rem

.separator
  color: $edu-purple
  font-size: 1rem
  line-height: 1