<div class="container-fluid footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 mb-1 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 me-2 mb-md-0 logo fs-3" routerLink="/homepage" style="cursor: pointer;">EduShare</span>
                <span class="mb-3 mb-md-0 small text-muted">© 2025 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <strong>FB</strong>
            </li>
            <li class="ms-3">
                <strong>NZS</strong>
            </li>
            <li class="ms-3">
                <strong>HB</strong>
            </li>
            <li class="ms-3">
                <strong>BA</strong>
            </li>
            <li class="ms-3">
                <strong>KM</strong>
            </li>
            <li class="ms-3">
                <strong>ZA</strong>
            </li>
        </ul>
    </footer>
</div>