@use '../../../styles/_variables' as *;

.container
    font-family: 'Nunito', sans-serif
    display: flex
.leftside
    margin: auto
button
    background-color: $edu-purple
    color: white
img
    height: 350px
    width: 500px