<div class="register-page">
  <h1 class="logo" routerLink="/homepage">EduShare</h1>

  <div class="register-wrapper">
    <div class="register-left">
      <form (ngSubmit)="onRegister()" autocomplete="off" novalidate>
        <h4 class="text-center mb-3">Register</h4>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-envelope"></i>
          </span>
          <input
            [(ngModel)]="email"
            name="email"
            type="email"
            class="form-control"
            placeholder="Email"
            required />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-person"></i>
          </span>
          <input
            [(ngModel)]="firstName"
            name="firstName"
            type="text"
            class="form-control"
            placeholder="First name"
            required />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-person"></i>
          </span>
          <input
            [(ngModel)]="lastName"
            name="lastName"
            type="text"
            class="form-control"
            placeholder="Last name"
            required />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-lock"></i>
          </span>
          <input
            [(ngModel)]="password"
            name="password"
            type="password"
            class="form-control"
            placeholder="Password"
            required minlength="6" />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-lock"></i>
          </span>
          <input
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            type="password"
            class="form-control"
            placeholder="Password again"
            required minlength="6" />
        </div>

        <button class="btn btn-primary w-100 mb-2" type="submit" [disabled]="loading">
          <i class="bi bi-person-plus me-2"></i> Register
        </button>

        <div *ngIf="error" class="alert alert-danger mt-2 text-center">
          {{ error }}
        </div>

        <div *ngIf="success" class="alert alert-success mt-2 text-center">
          {{ success }}
        </div>

        <p class="text-center md-3">
          Already have an account?
          <a class="login-link" routerLink="/login"><strong>Login</strong></a>
        </p>
      </form>
    </div>

    <div class="register-right">
      <img src="images/register.jpg" alt="Register Illustration" />
    </div>
  </div>
</div>
