<div class="base-margin">
  <h2 class="title">Recommended materials:</h2>
  <div *ngIf="!loading && recommendedMaterials.length">
    <app-material-card 
      [m]="recommendedMaterials">
    </app-material-card>
  </div>
    <hr>
  <h2 class="title">Uploaded materials:</h2>

  <div *ngIf="loading" class="text-center text-secondary">Loading...</div>
  <div *ngIf="error" class="alert alert-danger text-center">{{ error }}</div>
  
  <div *ngIf="!loading && materials.length">
    <app-material-card 
      [m]="materials">
    </app-material-card>
  </div>

  <p *ngIf="!loading && !materials.length" class="text-center text-muted mt-3">
    Nincs megjeleníthető anyag.
  </p>
</div>