@use '../../../styles/_variables' as *

.btn-outline-edupurple
  color: $edu-purple
  border-color: $edu-purple

.btn-outline-edupurple:hover
  background-color: $edu-purple
  color: white
  border-color: $edu-purple

.count
  background-color: $edu-purple

.subject-container
  max-width: 600px

  @media (max-width: 576px)
    max-width: 100%
