@use '../../../styles/_variables' as *

.container-fluid
    padding: 30px 5% 20px 5%
    font-family: 'Nunito'

.file-button
    background-color: $edu-purple
    color: white

.text-body
    text-align: justify

.btn-link
  color: var(--bs-primary)
  font-weight: 500
  text-decoration: none
  margin-left: auto
  opacity: 0.9

.btn-link:hover
  text-decoration: underline
