<div class="container mt-4" *ngIf="material">
  <div class="card shadow-sm">
    <div class="card-body">

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="text-muted fw-semibold">
          {{ material.subject || 'Placeholder' }}
        </div>

        <div class="d-flex align-items-center">
          <div class="text-end me-3">
            <div class="small fw-semibold">
              {{ material.uploader.fullName || 'Ismeretlen' }}
            </div>
            <div class="small text-muted">
              {{ material.uploadDate | date:'yyyy.MM.dd. HH:mm' }}
            </div>
          </div>

          <img *ngIf="material.uploader?.image?.file" [src]="material.uploader.image.file.startsWith('http')
                    ? material.uploader.image.file
                    : 'data:image/*;base64,' + material.uploader.image.file"
            alt="{{ material.uploader.fullName || 'Feltöltő' }}" class="rounded-circle" width="42" height="42" />
        </div>
      </div>

      <div class="row g-3">
        <div class="col-12 col-lg-8">
          <h4 class="mb-2">{{ material.title }}</h4>
          <p class="mb-0 text-body-secondary">
            {{ material.description || 'Nincs leírás.' }}
          </p>
        </div>

        <div class="col-12 col-lg-4">
          <div class="border rounded-3 bg-light d-flex flex-column align-items-center justify-content-center p-4"
            style="min-height: 180px;">
            <div class="text-center">
              <div class="mb-2 fw-semibold">Fájl előnézet</div>
              <div class="small text-muted mb-3">
                {{ material.content.fileName || 'Nincs fájl' }}
              </div>

              <button class="btn btn-primary btn-sm"
                (click)="downloadFile(material.content.file, material.content.fileName)"
                [disabled]="!material.content.file">
                <i class="bi bi-download me-1"></i>
                Letöltés
              </button>
            </div>
          </div>
          <div class="d-flex text-end">
            <button class="btn btn-warning btn-sm mt-3 me-2" (click)="updateMaterial()" *ngIf="material">
              <i class="bi bi-pencil-square me-1"></i>
              Módosítás
            </button>
            <button class="btn btn-danger btn-sm mt-3 ms-auto" (click)="deleteMaterial()" *ngIf="material">
              <i class="bi bi-trash me-1"></i>
              Törlés
            </button>
        </div>

      </div>
    </div>
  </div>