<div class="wrapper">
  <button type="button" class="search-toggle d-xl-none" (click)="toggleSearch()">
  <span class="text-center">Filter & search</span>
  <i class="bi ms-auto" [ngClass]="showSearch ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
</button>

<div class="searchbar" [class.is-open]="showSearch">
  <app-searchbar (isInSearch)="changeIsInSearch($event)" (searchValue)="searchValue($event)" [subjectId]="subjectId">
  </app-searchbar>
</div>
</div>


<app-material-list *ngIf="!isInSearch"></app-material-list>
<app-material-search-list *ngIf="isInSearch" [search]="search"></app-material-search-list>