<div class="card-container">
    <div class="card-background" *ngFor="let material of m">
        <div class="title">{{material.title}}</div>
        <div class="datas">
            <div class="icon-data">
                <img *ngIf="material.uploader.image?.file" [src]="material.uploader.image.file.startsWith('http')
                            ? material.uploader.image.file
                            : 'data:image/*;base64,' + material.uploader.image.file" [alt]="material.uploader.fullName"
                    class="profile-pic" width="21" height="21" />              
                <div><button class="btn-profile" (click)="openProfile(material.uploader.id)">{{material.uploader.fullName}}</button></div>
            </div>
            <div class="icon-data">
                <i class="bi bi-clock clock"></i>
                <div class="date">{{material.uploadDate | date:'yyyy.MM.dd'}}</div>
            </div>
        </div>
        <div class="open-bookmark">
            <button class="open-button" (click)="openMaterial(material)">Open</button>
            <button class="btn-bookmark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark icon-bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                </svg>
            </button>
        </div>
    </div>
</div>


