<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="mb-3">Regisztráció</h5>
                <div class="mb-3">
                    <label for="surname" class="form-label">Vezetéknév</label>
                    <input type="text" id="title" class="form-control"  />
                </div>

                <div class="mb-3">
                    <label for="firstname" class="form-label">Keresztnév</label>
                    <input type="text" id="title" class="form-control"  />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="title" class="form-control"  />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Jelszó</label>
                    <input  type="password" id="pw" class="form-control"  />
                </div>

                <div class="mb-3">
                    <label for="password2" class="form-label">Jelszó megadása mégegyszer</label>
                    <input  type="password" id="pw2" class="form-control"  />
                </div>

                <button type="submit" class="btn btn-primary" disabled>
                    Regisztrálás
                </button>
            
        </div>
    </div>
</div>
