<h2>Felhasználók listája:</h2>
<hr>
<ul *ngFor="let p of profiles">
    <li class="text-center list-group-item">
        <img *ngIf="p.image?.file" [src]="p.image.file.startsWith('http')
                  ? p.image.file
                  : 'data:image/*;base64,' + p.image.file" [alt]="p.fullName"
          class="rounded-circle me-3" width="50" height="50" /> {{p.fullName}} {{p.email}} 
        <button type="button" (click)="openDetail(p)" class="btn btn-primary" >
            View
        </button>
    </li>
    <hr>
</ul>